@font-face {
    font-family: "LarbSansSerif";
    font-weight: normal;
    src: url("/fonts/sans.woff2") format("woff2");
}
@font-face {
    font-family: "LarbSansSerif";
    font-weight: bold;
    src: url("/fonts/sans-bold.woff2") format("woff2");
}
@font-face {
    font-family: "LarbSerif";
    src: url("/fonts/serif.woff2") format("woff2");
}
